@page
@model Marrero_Projet2RazorApp.Pages.Marques.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marque[0].Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Marque) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MarqueId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MarqueId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MarqueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
