@model IEnumerable<Marrero_Projet2AutosMVC.Models.Marque>

@{
    ViewData["Title"] = "Index";
}

<br />

<p>
    <a asp-action="Create">Ajouter une marque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MarqueId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.MarqueId">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.MarqueId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
