@page
@model Marrero_Projet2RazorApp.Pages.Couleurs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<br />

<p>
    <a asp-page="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Couleur[0].Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Couleur) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CouleurId">Modifier</a> |
                <a asp-page="./Details" asp-route-id="@item.CouleurId">Détails</a> |
                <a asp-page="./Delete" asp-route-id="@item.CouleurId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
